Services/Service References/WZNTServices/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ParsePixels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="File1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="File2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParsePixelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ParsePixelsResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseSimilarity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="File1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="File2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseSimilarityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ParseSimilarityResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>