Services/Service References/WZNTServices/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/WZNTServices/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/WZNTServices/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/WZNTServices/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WZNTService" />
      <xsd:import schemaLocation="http://localhost/WZNTServices/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Business.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetGruArtAufEinzelnutzenList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGruArtAufEinzelnutzenList" />
  </wsdl:message>
  <wsdl:message name="IService_GetGruArtAufEinzelnutzenList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGruArtAufEinzelnutzenListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetGruArtAufEinzelnutzen_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGruArtAufEinzelnutzen" />
  </wsdl:message>
  <wsdl:message name="IService_GetGruArtAufEinzelnutzen_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGruArtAufEinzelnutzenResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertGruArtAufEinzelnutzen_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertGruArtAufEinzelnutzen" />
  </wsdl:message>
  <wsdl:message name="IService_InsertGruArtAufEinzelnutzen_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertGruArtAufEinzelnutzenResponse" />
  </wsdl:message>
  <wsdl:message name="IService_InsertGruArtAufEinzelnutzenList_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertGruArtAufEinzelnutzenList" />
  </wsdl:message>
  <wsdl:message name="IService_InsertGruArtAufEinzelnutzenList_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertGruArtAufEinzelnutzenListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateGruArtAufEinzelnutzenList_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGruArtAufEinzelnutzenList" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateGruArtAufEinzelnutzenList_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGruArtAufEinzelnutzenListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveGruArtAufEinzelnutzenList_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveGruArtAufEinzelnutzenList" />
  </wsdl:message>
  <wsdl:message name="IService_RemoveGruArtAufEinzelnutzenList_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveGruArtAufEinzelnutzenListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetListGruArtAufEinSprache_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListGruArtAufEinSprache" />
  </wsdl:message>
  <wsdl:message name="IService_GetListGruArtAufEinSprache_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListGruArtAufEinSpracheResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ParsePixels_InputMessage">
    <wsdl:part name="parameters" element="tns:ParsePixels" />
  </wsdl:message>
  <wsdl:message name="IService_ParsePixels_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParsePixelsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ParseSimilarity_InputMessage">
    <wsdl:part name="parameters" element="tns:ParseSimilarity" />
  </wsdl:message>
  <wsdl:message name="IService_ParseSimilarity_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParseSimilarityResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetData" message="tns:IService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataResponse" message="tns:IService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContract" message="tns:IService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContractResponse" message="tns:IService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGruArtAufEinzelnutzenList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetGruArtAufEinzelnutzenList" message="tns:IService_GetGruArtAufEinzelnutzenList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetGruArtAufEinzelnutzenListResponse" message="tns:IService_GetGruArtAufEinzelnutzenList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGruArtAufEinzelnutzen">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetGruArtAufEinzelnutzen" message="tns:IService_GetGruArtAufEinzelnutzen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetGruArtAufEinzelnutzenResponse" message="tns:IService_GetGruArtAufEinzelnutzen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertGruArtAufEinzelnutzen">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertGruArtAufEinzelnutzen" message="tns:IService_InsertGruArtAufEinzelnutzen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertGruArtAufEinzelnutzenResponse" message="tns:IService_InsertGruArtAufEinzelnutzen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertGruArtAufEinzelnutzenList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/InsertGruArtAufEinzelnutzenList" message="tns:IService_InsertGruArtAufEinzelnutzenList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/InsertGruArtAufEinzelnutzenListResponse" message="tns:IService_InsertGruArtAufEinzelnutzenList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGruArtAufEinzelnutzenList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateGruArtAufEinzelnutzenList" message="tns:IService_UpdateGruArtAufEinzelnutzenList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateGruArtAufEinzelnutzenListResponse" message="tns:IService_UpdateGruArtAufEinzelnutzenList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveGruArtAufEinzelnutzenList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RemoveGruArtAufEinzelnutzenList" message="tns:IService_RemoveGruArtAufEinzelnutzenList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RemoveGruArtAufEinzelnutzenListResponse" message="tns:IService_RemoveGruArtAufEinzelnutzenList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListGruArtAufEinSprache">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetListGruArtAufEinSprache" message="tns:IService_GetListGruArtAufEinSprache_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetListGruArtAufEinSpracheResponse" message="tns:IService_GetListGruArtAufEinSprache_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParsePixels">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ParsePixels" message="tns:IService_ParsePixels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ParsePixelsResponse" message="tns:IService_ParsePixels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParseSimilarity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ParseSimilarity" message="tns:IService_ParseSimilarity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ParseSimilarityResponse" message="tns:IService_ParseSimilarity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGruArtAufEinzelnutzenList">
      <soap:operation soapAction="http://tempuri.org/IService/GetGruArtAufEinzelnutzenList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGruArtAufEinzelnutzen">
      <soap:operation soapAction="http://tempuri.org/IService/GetGruArtAufEinzelnutzen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertGruArtAufEinzelnutzen">
      <soap:operation soapAction="http://tempuri.org/IService/InsertGruArtAufEinzelnutzen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertGruArtAufEinzelnutzenList">
      <soap:operation soapAction="http://tempuri.org/IService/InsertGruArtAufEinzelnutzenList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGruArtAufEinzelnutzenList">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateGruArtAufEinzelnutzenList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveGruArtAufEinzelnutzenList">
      <soap:operation soapAction="http://tempuri.org/IService/RemoveGruArtAufEinzelnutzenList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListGruArtAufEinSprache">
      <soap:operation soapAction="http://tempuri.org/IService/GetListGruArtAufEinSprache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParsePixels">
      <soap:operation soapAction="http://tempuri.org/IService/ParsePixels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParseSimilarity">
      <soap:operation soapAction="http://tempuri.org/IService/ParseSimilarity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost/WZNTServices/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>