Services/Service References/WZNTServices/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WZNTServices/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WZNTService" />
  <xs:import schemaLocation="http://localhost/WZNTServices/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Business.DTO" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WZNTService" minOccurs="0" name="Composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WZNTService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGruArtAufEinzelnutzen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Business.DTO" minOccurs="0" name="model" nillable="true" type="q3:GruArtAufEinzelnutzen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGruArtAufEinzelnutzenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateGruArtAufEinzelnutzenResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGruArtAufEinzelnutzenList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Business.DTO" minOccurs="0" name="models" nillable="true" type="q4:ArrayOfGruArtAufEinzelnutzen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGruArtAufEinzelnutzenListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateGruArtAufEinzelnutzenListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadGruArtAufEinzelnutzenList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadGruArtAufEinzelnutzenListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Business.DTO" minOccurs="0" name="ReadGruArtAufEinzelnutzenListResult" nillable="true" type="q5:ArrayOfGruArtAufEinzelnutzen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadGruArtAufEinzelnutzen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadGruArtAufEinzelnutzenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Business.DTO" minOccurs="0" name="ReadGruArtAufEinzelnutzenResult" nillable="true" type="q6:GruArtAufEinzelnutzen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGruArtAufEinzelnutzenList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Business.DTO" minOccurs="0" name="models" nillable="true" type="q7:ArrayOfGruArtAufEinzelnutzen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGruArtAufEinzelnutzenListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGruArtAufEinzelnutzenListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGruArtAufEinzelnutzenList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Business.DTO" minOccurs="0" name="models" nillable="true" type="q8:ArrayOfGruArtAufEinzelnutzen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGruArtAufEinzelnutzenListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGruArtAufEinzelnutzenListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadGruArtFarbtypList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadGruArtFarbtypListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Business.DTO" minOccurs="0" name="ReadGruArtFarbtypListResult" nillable="true" type="q9:ArrayOfGruArtFarbtyp" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadGruArtAufEinSpracheList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Business.DTO" minOccurs="0" name="model" nillable="true" type="q10:GruArtAufEinzelnutzen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadGruArtAufEinSpracheListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Business.DTO" minOccurs="0" name="ReadGruArtAufEinSpracheListResult" nillable="true" type="q11:ArrayOfGruArtAufEinSprache" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadGruSprachenList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="locationId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadGruSprachenListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Business.DTO" minOccurs="0" name="ReadGruSprachenListResult" nillable="true" type="q12:ArrayOfGruSprachen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGruSysStandortList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Business.DTO" minOccurs="0" name="models" nillable="true" type="q13:ArrayOfGruSysStandort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGruSysStandortListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateGruSysStandortListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadGruSysStandortList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadGruSysStandortListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Business.DTO" minOccurs="0" name="ReadGruSysStandortListResult" nillable="true" type="q14:ArrayOfGruSysStandort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGruSysStandortList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Business.DTO" minOccurs="0" name="models" nillable="true" type="q15:ArrayOfGruSysStandort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGruSysStandortListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGruSysStandortListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGruSysStandortList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Business.DTO" minOccurs="0" name="models" nillable="true" type="q16:ArrayOfGruSysStandort" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGruSysStandortListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGruSysStandortListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGruSysAPiJoblList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Business.DTO" minOccurs="0" name="models" nillable="true" type="q17:ArrayOfGruSysAPiJobl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGruSysAPiJoblListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateGruSysAPiJoblListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadGruSysAPiJoblList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadGruSysAPiJoblListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Business.DTO" minOccurs="0" name="ReadGruSysAPiJoblListResult" nillable="true" type="q18:ArrayOfGruSysAPiJobl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGruSysAPiJoblList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Business.DTO" minOccurs="0" name="models" nillable="true" type="q19:ArrayOfGruSysAPiJobl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGruSysAPiJoblListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGruSysAPiJoblListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGruSysAPiJoblList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Business.DTO" minOccurs="0" name="models" nillable="true" type="q20:ArrayOfGruSysAPiJobl" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGruSysAPiJoblListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGruSysAPiJoblListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGruSysAPiJobStList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Business.DTO" minOccurs="0" name="models" nillable="true" type="q21:ArrayOfGruSysAPiJobSt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGruSysAPiJobStListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateGruSysAPiJobStListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadGruSysAPiJobStList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadGruSysAPiJobStListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Business.DTO" minOccurs="0" name="ReadGruSysAPiJobStListResult" nillable="true" type="q22:ArrayOfGruSysAPiJobSt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGruSysAPiJobStList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Business.DTO" minOccurs="0" name="models" nillable="true" type="q23:ArrayOfGruSysAPiJobSt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGruSysAPiJobStListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UpdateGruSysAPiJobStListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGruSysAPiJobStList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Business.DTO" minOccurs="0" name="models" nillable="true" type="q24:ArrayOfGruSysAPiJobSt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGruSysAPiJobStListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteGruSysAPiJobStListResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadGruSysAPiJobStFrequenzList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadGruSysAPiJobStFrequenzListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Business.DTO" minOccurs="0" name="ReadGruSysAPiJobStFrequenzListResult" nillable="true" type="q25:ArrayOfGruSysAPiJobStFrequenz" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParsePixels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="File1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="File2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParsePixelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ParsePixelsResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseSimilarity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="File1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="File2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseSimilarityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ParseSimilarityResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>