Services/Service References/WZNTServices/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/WZNTServices/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WZNTService" />
  <xs:import schemaLocation="http://localhost/WZNTServices/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Business.DTO" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WZNTService" minOccurs="0" name="Composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WZNTService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGruArtAufEinzelnutzen">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Business.DTO" minOccurs="0" name="model" nillable="true" type="q3:GruArtAufEinzelnutzen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGruArtAufEinzelnutzenResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGruArtAufEinzelnutzenList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Business.DTO" minOccurs="0" name="models" nillable="true" type="q4:ArrayOfGruArtAufEinzelnutzen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateGruArtAufEinzelnutzenListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadGruArtAufEinzelnutzenList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadGruArtAufEinzelnutzenListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Business.DTO" minOccurs="0" name="ReadGruArtAufEinzelnutzenListResult" nillable="true" type="q5:ArrayOfGruArtAufEinzelnutzen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadGruArtAufEinzelnutzen">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadGruArtAufEinzelnutzenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Business.DTO" minOccurs="0" name="ReadGruArtAufEinzelnutzenResult" nillable="true" type="q6:GruArtAufEinzelnutzen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGruArtAufEinzelnutzenList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Business.DTO" minOccurs="0" name="models" nillable="true" type="q7:ArrayOfGruArtAufEinzelnutzen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateGruArtAufEinzelnutzenListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGruArtAufEinzelnutzenList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Business.DTO" minOccurs="0" name="models" nillable="true" type="q8:ArrayOfGruArtAufEinzelnutzen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteGruArtAufEinzelnutzenListResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListGruArtAufEinSprache">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Business.DTO" minOccurs="0" name="model" nillable="true" type="q9:GruArtAufEinzelnutzen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetListGruArtAufEinSpracheResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Business.DTO" minOccurs="0" name="GetListGruArtAufEinSpracheResult" nillable="true" type="q10:ArrayOfGruArtAufEinSprache" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadGruSprachenList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ReadGruSprachenListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Business.DTO" minOccurs="0" name="ReadGruSprachenListResult" nillable="true" type="q11:ArrayOfGruSprachen" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParsePixels">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="File1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="File2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParsePixelsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ParsePixelsResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseSimilarity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="File1" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="File2" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ParseSimilarityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ParseSimilarityResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>