Services/Service References/WZNTServices/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/WZNTServices/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/WZNTServices/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/WZNTServices/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WZNTService" />
      <xsd:import schemaLocation="http://localhost/WZNTServices/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Business.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateGruArtAufEinzelnutzen_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGruArtAufEinzelnutzen" />
  </wsdl:message>
  <wsdl:message name="IService_CreateGruArtAufEinzelnutzen_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGruArtAufEinzelnutzenResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateGruArtAufEinzelnutzenList_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGruArtAufEinzelnutzenList" />
  </wsdl:message>
  <wsdl:message name="IService_CreateGruArtAufEinzelnutzenList_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGruArtAufEinzelnutzenListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReadGruArtAufEinzelnutzenList_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadGruArtAufEinzelnutzenList" />
  </wsdl:message>
  <wsdl:message name="IService_ReadGruArtAufEinzelnutzenList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadGruArtAufEinzelnutzenListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReadGruArtAufEinzelnutzen_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadGruArtAufEinzelnutzen" />
  </wsdl:message>
  <wsdl:message name="IService_ReadGruArtAufEinzelnutzen_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadGruArtAufEinzelnutzenResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateGruArtAufEinzelnutzenList_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGruArtAufEinzelnutzenList" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateGruArtAufEinzelnutzenList_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGruArtAufEinzelnutzenListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteGruArtAufEinzelnutzenList_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGruArtAufEinzelnutzenList" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteGruArtAufEinzelnutzenList_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGruArtAufEinzelnutzenListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReadGruArtFarbtypList_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadGruArtFarbtypList" />
  </wsdl:message>
  <wsdl:message name="IService_ReadGruArtFarbtypList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadGruArtFarbtypListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReadGruArtAufEinSpracheList_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadGruArtAufEinSpracheList" />
  </wsdl:message>
  <wsdl:message name="IService_ReadGruArtAufEinSpracheList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadGruArtAufEinSpracheListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReadGruSprachenList_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadGruSprachenList" />
  </wsdl:message>
  <wsdl:message name="IService_ReadGruSprachenList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadGruSprachenListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateGruSysStandortList_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGruSysStandortList" />
  </wsdl:message>
  <wsdl:message name="IService_CreateGruSysStandortList_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGruSysStandortListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReadGruSysStandortList_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadGruSysStandortList" />
  </wsdl:message>
  <wsdl:message name="IService_ReadGruSysStandortList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadGruSysStandortListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateGruSysStandortList_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGruSysStandortList" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateGruSysStandortList_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGruSysStandortListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteGruSysStandortList_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGruSysStandortList" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteGruSysStandortList_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGruSysStandortListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateGruSysAPiJoblList_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGruSysAPiJoblList" />
  </wsdl:message>
  <wsdl:message name="IService_CreateGruSysAPiJoblList_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGruSysAPiJoblListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReadGruSysAPiJoblList_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadGruSysAPiJoblList" />
  </wsdl:message>
  <wsdl:message name="IService_ReadGruSysAPiJoblList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadGruSysAPiJoblListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateGruSysAPiJoblList_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGruSysAPiJoblList" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateGruSysAPiJoblList_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGruSysAPiJoblListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteGruSysAPiJoblList_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGruSysAPiJoblList" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteGruSysAPiJoblList_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGruSysAPiJoblListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateGruSysAPiJobStList_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGruSysAPiJobStList" />
  </wsdl:message>
  <wsdl:message name="IService_CreateGruSysAPiJobStList_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGruSysAPiJobStListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReadGruSysAPiJobStList_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadGruSysAPiJobStList" />
  </wsdl:message>
  <wsdl:message name="IService_ReadGruSysAPiJobStList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadGruSysAPiJobStListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateGruSysAPiJobStList_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGruSysAPiJobStList" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateGruSysAPiJobStList_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGruSysAPiJobStListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteGruSysAPiJobStList_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGruSysAPiJobStList" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteGruSysAPiJobStList_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGruSysAPiJobStListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReadGruSysAPiJobStFrequenzList_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadGruSysAPiJobStFrequenzList" />
  </wsdl:message>
  <wsdl:message name="IService_ReadGruSysAPiJobStFrequenzList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadGruSysAPiJobStFrequenzListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ParsePixels_InputMessage">
    <wsdl:part name="parameters" element="tns:ParsePixels" />
  </wsdl:message>
  <wsdl:message name="IService_ParsePixels_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParsePixelsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ParseSimilarity_InputMessage">
    <wsdl:part name="parameters" element="tns:ParseSimilarity" />
  </wsdl:message>
  <wsdl:message name="IService_ParseSimilarity_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParseSimilarityResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetData" message="tns:IService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataResponse" message="tns:IService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContract" message="tns:IService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContractResponse" message="tns:IService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGruArtAufEinzelnutzen">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateGruArtAufEinzelnutzen" message="tns:IService_CreateGruArtAufEinzelnutzen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateGruArtAufEinzelnutzenResponse" message="tns:IService_CreateGruArtAufEinzelnutzen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGruArtAufEinzelnutzenList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateGruArtAufEinzelnutzenList" message="tns:IService_CreateGruArtAufEinzelnutzenList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateGruArtAufEinzelnutzenListResponse" message="tns:IService_CreateGruArtAufEinzelnutzenList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadGruArtAufEinzelnutzenList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReadGruArtAufEinzelnutzenList" message="tns:IService_ReadGruArtAufEinzelnutzenList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReadGruArtAufEinzelnutzenListResponse" message="tns:IService_ReadGruArtAufEinzelnutzenList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadGruArtAufEinzelnutzen">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReadGruArtAufEinzelnutzen" message="tns:IService_ReadGruArtAufEinzelnutzen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReadGruArtAufEinzelnutzenResponse" message="tns:IService_ReadGruArtAufEinzelnutzen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGruArtAufEinzelnutzenList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateGruArtAufEinzelnutzenList" message="tns:IService_UpdateGruArtAufEinzelnutzenList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateGruArtAufEinzelnutzenListResponse" message="tns:IService_UpdateGruArtAufEinzelnutzenList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGruArtAufEinzelnutzenList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteGruArtAufEinzelnutzenList" message="tns:IService_DeleteGruArtAufEinzelnutzenList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteGruArtAufEinzelnutzenListResponse" message="tns:IService_DeleteGruArtAufEinzelnutzenList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadGruArtFarbtypList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReadGruArtFarbtypList" message="tns:IService_ReadGruArtFarbtypList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReadGruArtFarbtypListResponse" message="tns:IService_ReadGruArtFarbtypList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadGruArtAufEinSpracheList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReadGruArtAufEinSpracheList" message="tns:IService_ReadGruArtAufEinSpracheList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReadGruArtAufEinSpracheListResponse" message="tns:IService_ReadGruArtAufEinSpracheList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadGruSprachenList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReadGruSprachenList" message="tns:IService_ReadGruSprachenList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReadGruSprachenListResponse" message="tns:IService_ReadGruSprachenList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGruSysStandortList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateGruSysStandortList" message="tns:IService_CreateGruSysStandortList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateGruSysStandortListResponse" message="tns:IService_CreateGruSysStandortList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadGruSysStandortList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReadGruSysStandortList" message="tns:IService_ReadGruSysStandortList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReadGruSysStandortListResponse" message="tns:IService_ReadGruSysStandortList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGruSysStandortList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateGruSysStandortList" message="tns:IService_UpdateGruSysStandortList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateGruSysStandortListResponse" message="tns:IService_UpdateGruSysStandortList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGruSysStandortList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteGruSysStandortList" message="tns:IService_DeleteGruSysStandortList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteGruSysStandortListResponse" message="tns:IService_DeleteGruSysStandortList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGruSysAPiJoblList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateGruSysAPiJoblList" message="tns:IService_CreateGruSysAPiJoblList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateGruSysAPiJoblListResponse" message="tns:IService_CreateGruSysAPiJoblList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadGruSysAPiJoblList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReadGruSysAPiJoblList" message="tns:IService_ReadGruSysAPiJoblList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReadGruSysAPiJoblListResponse" message="tns:IService_ReadGruSysAPiJoblList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGruSysAPiJoblList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateGruSysAPiJoblList" message="tns:IService_UpdateGruSysAPiJoblList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateGruSysAPiJoblListResponse" message="tns:IService_UpdateGruSysAPiJoblList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGruSysAPiJoblList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteGruSysAPiJoblList" message="tns:IService_DeleteGruSysAPiJoblList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteGruSysAPiJoblListResponse" message="tns:IService_DeleteGruSysAPiJoblList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGruSysAPiJobStList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateGruSysAPiJobStList" message="tns:IService_CreateGruSysAPiJobStList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateGruSysAPiJobStListResponse" message="tns:IService_CreateGruSysAPiJobStList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadGruSysAPiJobStList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReadGruSysAPiJobStList" message="tns:IService_ReadGruSysAPiJobStList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReadGruSysAPiJobStListResponse" message="tns:IService_ReadGruSysAPiJobStList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGruSysAPiJobStList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateGruSysAPiJobStList" message="tns:IService_UpdateGruSysAPiJobStList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateGruSysAPiJobStListResponse" message="tns:IService_UpdateGruSysAPiJobStList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGruSysAPiJobStList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteGruSysAPiJobStList" message="tns:IService_DeleteGruSysAPiJobStList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteGruSysAPiJobStListResponse" message="tns:IService_DeleteGruSysAPiJobStList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadGruSysAPiJobStFrequenzList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReadGruSysAPiJobStFrequenzList" message="tns:IService_ReadGruSysAPiJobStFrequenzList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReadGruSysAPiJobStFrequenzListResponse" message="tns:IService_ReadGruSysAPiJobStFrequenzList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParsePixels">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ParsePixels" message="tns:IService_ParsePixels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ParsePixelsResponse" message="tns:IService_ParsePixels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParseSimilarity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ParseSimilarity" message="tns:IService_ParseSimilarity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ParseSimilarityResponse" message="tns:IService_ParseSimilarity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGruArtAufEinzelnutzen">
      <soap:operation soapAction="http://tempuri.org/IService/CreateGruArtAufEinzelnutzen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGruArtAufEinzelnutzenList">
      <soap:operation soapAction="http://tempuri.org/IService/CreateGruArtAufEinzelnutzenList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadGruArtAufEinzelnutzenList">
      <soap:operation soapAction="http://tempuri.org/IService/ReadGruArtAufEinzelnutzenList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadGruArtAufEinzelnutzen">
      <soap:operation soapAction="http://tempuri.org/IService/ReadGruArtAufEinzelnutzen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGruArtAufEinzelnutzenList">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateGruArtAufEinzelnutzenList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGruArtAufEinzelnutzenList">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteGruArtAufEinzelnutzenList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadGruArtFarbtypList">
      <soap:operation soapAction="http://tempuri.org/IService/ReadGruArtFarbtypList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadGruArtAufEinSpracheList">
      <soap:operation soapAction="http://tempuri.org/IService/ReadGruArtAufEinSpracheList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadGruSprachenList">
      <soap:operation soapAction="http://tempuri.org/IService/ReadGruSprachenList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGruSysStandortList">
      <soap:operation soapAction="http://tempuri.org/IService/CreateGruSysStandortList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadGruSysStandortList">
      <soap:operation soapAction="http://tempuri.org/IService/ReadGruSysStandortList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGruSysStandortList">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateGruSysStandortList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGruSysStandortList">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteGruSysStandortList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGruSysAPiJoblList">
      <soap:operation soapAction="http://tempuri.org/IService/CreateGruSysAPiJoblList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadGruSysAPiJoblList">
      <soap:operation soapAction="http://tempuri.org/IService/ReadGruSysAPiJoblList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGruSysAPiJoblList">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateGruSysAPiJoblList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGruSysAPiJoblList">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteGruSysAPiJoblList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGruSysAPiJobStList">
      <soap:operation soapAction="http://tempuri.org/IService/CreateGruSysAPiJobStList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadGruSysAPiJobStList">
      <soap:operation soapAction="http://tempuri.org/IService/ReadGruSysAPiJobStList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGruSysAPiJobStList">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateGruSysAPiJobStList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGruSysAPiJobStList">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteGruSysAPiJobStList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadGruSysAPiJobStFrequenzList">
      <soap:operation soapAction="http://tempuri.org/IService/ReadGruSysAPiJobStFrequenzList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParsePixels">
      <soap:operation soapAction="http://tempuri.org/IService/ParsePixels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParseSimilarity">
      <soap:operation soapAction="http://tempuri.org/IService/ParseSimilarity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost/WZNTServices/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>