Services/Service References/WZNTServices/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Business.DTO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Business.DTO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="GruArtAufEinzelnutzen">
    <xs:sequence>
      <xs:element minOccurs="0" name="Aufgabe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GruArtAufEinSpraches" nillable="true" type="tns:ArrayOfGruArtAufEinSprache" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StandortKz" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GruArtAufEinzelnutzen" nillable="true" type="tns:GruArtAufEinzelnutzen" />
  <xs:complexType name="ArrayOfGruArtAufEinSprache">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GruArtAufEinSprache" nillable="true" type="tns:GruArtAufEinSprache" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGruArtAufEinSprache" nillable="true" type="tns:ArrayOfGruArtAufEinSprache" />
  <xs:complexType name="GruArtAufEinSprache">
    <xs:sequence>
      <xs:element minOccurs="0" name="GruArtAufEinzelnutzen" nillable="true" type="tns:GruArtAufEinzelnutzen" />
      <xs:element minOccurs="0" name="GruSprachen" nillable="true" type="tns:GruSprachen" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdAufgabe" type="xs:int" />
      <xs:element minOccurs="0" name="IdSprache" type="xs:int" />
      <xs:element minOccurs="0" name="OTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StandortKz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uebersetzung" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GruArtAufEinSprache" nillable="true" type="tns:GruArtAufEinSprache" />
  <xs:complexType name="GruSprachen">
    <xs:sequence>
      <xs:element minOccurs="0" name="GruArtAufEinSpraches" nillable="true" type="tns:ArrayOfGruArtAufEinSprache" />
      <xs:element minOccurs="0" name="GruArtBasisArtSpraches" nillable="true" type="tns:ArrayOfGruArtBasisArtSprache" />
      <xs:element minOccurs="0" name="GruArtDruckVerSpraches" nillable="true" type="tns:ArrayOfGruArtDruckVerSprache" />
      <xs:element minOccurs="0" name="GruArtDruckVorlSpraches" nillable="true" type="tns:ArrayOfGruArtDruckVorlSprache" />
      <xs:element minOccurs="0" name="GruProgAbrgruSpraches" nillable="true" type="tns:ArrayOfGruProgAbrgruSprache" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Iso" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Sprache" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StandortKz" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GruSprachen" nillable="true" type="tns:GruSprachen" />
  <xs:complexType name="ArrayOfGruArtBasisArtSprache">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GruArtBasisArtSprache" nillable="true" type="tns:GruArtBasisArtSprache" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGruArtBasisArtSprache" nillable="true" type="tns:ArrayOfGruArtBasisArtSprache" />
  <xs:complexType name="GruArtBasisArtSprache">
    <xs:sequence>
      <xs:element minOccurs="0" name="GruArtBasisart" nillable="true" type="tns:GruArtBasisart" />
      <xs:element minOccurs="0" name="GruSprachen" nillable="true" type="tns:GruSprachen" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdBasisart" type="xs:int" />
      <xs:element minOccurs="0" name="IdSprache" type="xs:int" />
      <xs:element minOccurs="0" name="OTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StandortKz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uebersetzung" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GruArtBasisArtSprache" nillable="true" type="tns:GruArtBasisArtSprache" />
  <xs:complexType name="GruArtBasisart">
    <xs:sequence>
      <xs:element minOccurs="0" name="Basisart" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GruArtBasisArtSpraches" nillable="true" type="tns:ArrayOfGruArtBasisArtSprache" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StandortKz" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GruArtBasisart" nillable="true" type="tns:GruArtBasisart" />
  <xs:complexType name="ArrayOfGruArtDruckVerSprache">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GruArtDruckVerSprache" nillable="true" type="tns:GruArtDruckVerSprache" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGruArtDruckVerSprache" nillable="true" type="tns:ArrayOfGruArtDruckVerSprache" />
  <xs:complexType name="GruArtDruckVerSprache">
    <xs:sequence>
      <xs:element minOccurs="0" name="GruArtDruckverf" nillable="true" type="tns:GruArtDruckverf" />
      <xs:element minOccurs="0" name="GruSprachen" nillable="true" type="tns:GruSprachen" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdDruckverf" type="xs:int" />
      <xs:element minOccurs="0" name="IdSprache" type="xs:int" />
      <xs:element minOccurs="0" name="OTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StandortKz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UebSetDruckv" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UebSetKurzz" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GruArtDruckVerSprache" nillable="true" type="tns:GruArtDruckVerSprache" />
  <xs:complexType name="GruArtDruckverf">
    <xs:sequence>
      <xs:element minOccurs="0" name="Auflosung" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Druckverfahren" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GruArtDruckVerSpraches" nillable="true" type="tns:ArrayOfGruArtDruckVerSprache" />
      <xs:element minOccurs="0" name="GruMaCfgs" nillable="true" type="tns:ArrayOfGruMaCfg" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Kurzzeichen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StandortKz" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GruArtDruckverf" nillable="true" type="tns:GruArtDruckverf" />
  <xs:complexType name="ArrayOfGruMaCfg">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GruMaCfg" nillable="true" type="tns:GruMaCfg" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGruMaCfg" nillable="true" type="tns:ArrayOfGruMaCfg" />
  <xs:complexType name="GruMaCfg">
    <xs:sequence>
      <xs:element minOccurs="0" name="Baugruppe" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Bild" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="GruArtDruckverf" nillable="true" type="tns:GruArtDruckverf" />
      <xs:element minOccurs="0" name="GruMaschinen" nillable="true" type="tns:GruMaschinen" />
      <xs:element minOccurs="0" name="GruWerkzRegMarke" nillable="true" type="tns:GruWerkzRegMarke" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdDruckverfahren" type="xs:int" />
      <xs:element minOccurs="0" name="IdMaschine" type="xs:int" />
      <xs:element minOccurs="0" name="IdRegistermarken" type="xs:int" />
      <xs:element minOccurs="0" name="OTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StandortKz" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GruMaCfg" nillable="true" type="tns:GruMaCfg" />
  <xs:complexType name="GruMaschinen">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnzBaugruppe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GruMaCfgs" nillable="true" type="tns:ArrayOfGruMaCfg" />
      <xs:element minOccurs="0" name="GruMaTypenDruKzs" nillable="true" type="tns:ArrayOfGruMaTypenDruKz" />
      <xs:element minOccurs="0" name="GruMaschMaGruppe" nillable="true" type="tns:GruMaschMaGruppe" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdMaGruppe" type="xs:int" />
      <xs:element minOccurs="0" name="IdRegisterMa" type="xs:int" />
      <xs:element minOccurs="0" name="Maschine" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StandortKz" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GruMaschinen" nillable="true" type="tns:GruMaschinen" />
  <xs:complexType name="ArrayOfGruMaTypenDruKz">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GruMaTypenDruKz" nillable="true" type="tns:GruMaTypenDruKz" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGruMaTypenDruKz" nillable="true" type="tns:ArrayOfGruMaTypenDruKz" />
  <xs:complexType name="GruMaTypenDruKz">
    <xs:sequence>
      <xs:element minOccurs="0" name="FdKz" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="GruMaschinen" nillable="true" type="tns:GruMaschinen" />
      <xs:element minOccurs="0" name="GruWerkzWTypen" nillable="true" type="tns:GruWerkzWTypen" />
      <xs:element minOccurs="0" name="HpKz" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdMaschine" type="xs:int" />
      <xs:element minOccurs="0" name="IdWzTyp" type="xs:int" />
      <xs:element minOccurs="0" name="IjKz" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="KpKz" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="OTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OdKz" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="SdKz" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="StKz" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="StandortKz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TdKz" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="ZsKz" nillable="true" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GruMaTypenDruKz" nillable="true" type="tns:GruMaTypenDruKz" />
  <xs:complexType name="GruWerkzWTypen">
    <xs:sequence>
      <xs:element minOccurs="0" name="GruMaTypenDruKzs" nillable="true" type="tns:ArrayOfGruMaTypenDruKz" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Matchcode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Material" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxBreite" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="MaxLfm" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="OTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StandortKz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Typ" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GruWerkzWTypen" nillable="true" type="tns:GruWerkzWTypen" />
  <xs:complexType name="GruMaschMaGruppe">
    <xs:sequence>
      <xs:element minOccurs="0" name="Beschreibung" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GruMaschinens" nillable="true" type="tns:ArrayOfGruMaschinen" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MaGruppe" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StandortKz" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GruMaschMaGruppe" nillable="true" type="tns:GruMaschMaGruppe" />
  <xs:complexType name="ArrayOfGruMaschinen">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GruMaschinen" nillable="true" type="tns:GruMaschinen" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGruMaschinen" nillable="true" type="tns:ArrayOfGruMaschinen" />
  <xs:complexType name="GruWerkzRegMarke">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anzeichnung" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GruMaCfgs" nillable="true" type="tns:ArrayOfGruMaCfg" />
      <xs:element minOccurs="0" name="GruWerkzRegMarkePos" nillable="true" type="tns:ArrayOfGruWerkzRegMarkePos" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StandortKz" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GruWerkzRegMarke" nillable="true" type="tns:GruWerkzRegMarke" />
  <xs:complexType name="ArrayOfGruWerkzRegMarkePos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GruWerkzRegMarkePos" nillable="true" type="tns:GruWerkzRegMarkePos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGruWerkzRegMarkePos" nillable="true" type="tns:ArrayOfGruWerkzRegMarkePos" />
  <xs:complexType name="GruWerkzRegMarkePos">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abstand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GruWerkzRegMarke" nillable="true" type="tns:GruWerkzRegMarke" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdRegM" type="xs:int" />
      <xs:element minOccurs="0" name="OTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Pos" type="xs:int" />
      <xs:element minOccurs="0" name="StandortKz" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GruWerkzRegMarkePos" nillable="true" type="tns:GruWerkzRegMarkePos" />
  <xs:complexType name="ArrayOfGruArtDruckVorlSprache">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GruArtDruckVorlSprache" nillable="true" type="tns:GruArtDruckVorlSprache" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGruArtDruckVorlSprache" nillable="true" type="tns:ArrayOfGruArtDruckVorlSprache" />
  <xs:complexType name="GruArtDruckVorlSprache">
    <xs:sequence>
      <xs:element minOccurs="0" name="GruArtDruckvorl" nillable="true" type="tns:GruArtDruckvorl" />
      <xs:element minOccurs="0" name="GruSprachen" nillable="true" type="tns:GruSprachen" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdDruckvorl" type="xs:int" />
      <xs:element minOccurs="0" name="IdSprache" type="xs:int" />
      <xs:element minOccurs="0" name="OTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StandortKz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Uebersetzung" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GruArtDruckVorlSprache" nillable="true" type="tns:GruArtDruckVorlSprache" />
  <xs:complexType name="GruArtDruckvorl">
    <xs:sequence>
      <xs:element minOccurs="0" name="Druckvorlagen" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GruArtDruckVorlSpraches" nillable="true" type="tns:ArrayOfGruArtDruckVorlSprache" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StandortKz" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GruArtDruckvorl" nillable="true" type="tns:GruArtDruckvorl" />
  <xs:complexType name="ArrayOfGruProgAbrgruSprache">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GruProgAbrgruSprache" nillable="true" type="tns:GruProgAbrgruSprache" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGruProgAbrgruSprache" nillable="true" type="tns:ArrayOfGruProgAbrgruSprache" />
  <xs:complexType name="GruProgAbrgruSprache">
    <xs:sequence>
      <xs:element minOccurs="0" name="GruProgAbrgru" nillable="true" type="tns:GruProgAbrgru" />
      <xs:element minOccurs="0" name="GruSprachen" nillable="true" type="tns:GruSprachen" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdAbrGrund" type="xs:int" />
      <xs:element minOccurs="0" name="IdSprache" type="xs:int" />
      <xs:element minOccurs="0" name="OTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StandortKz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UebAbrGrund" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GruProgAbrgruSprache" nillable="true" type="tns:GruProgAbrgruSprache" />
  <xs:complexType name="GruProgAbrgru">
    <xs:sequence>
      <xs:element minOccurs="0" name="AbrGrund" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GruProgAbrgruSpraches" nillable="true" type="tns:ArrayOfGruProgAbrgruSprache" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="StandortKz" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GruProgAbrgru" nillable="true" type="tns:GruProgAbrgru" />
  <xs:complexType name="ArrayOfGruArtAufEinzelnutzen">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GruArtAufEinzelnutzen" nillable="true" type="tns:GruArtAufEinzelnutzen" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGruArtAufEinzelnutzen" nillable="true" type="tns:ArrayOfGruArtAufEinzelnutzen" />
  <xs:complexType name="ArrayOfGruSprachen">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GruSprachen" nillable="true" type="tns:GruSprachen" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGruSprachen" nillable="true" type="tns:ArrayOfGruSprachen" />
  <xs:complexType name="ArrayOfGruSysStandort">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GruSysStandort" nillable="true" type="tns:GruSysStandort" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGruSysStandort" nillable="true" type="tns:ArrayOfGruSysStandort" />
  <xs:complexType name="GruSysStandort">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="OTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Standort" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StandortId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GruSysStandort" nillable="true" type="tns:GruSysStandort" />
  <xs:complexType name="ArrayOfGruSysAPiJobl">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GruSysAPiJobl" nillable="true" type="tns:GruSysAPiJobl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGruSysAPiJobl" nillable="true" type="tns:ArrayOfGruSysAPiJobl" />
  <xs:complexType name="GruSysAPiJobl">
    <xs:sequence>
      <xs:element minOccurs="0" name="AktivKz" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="JobBez" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="JobId" type="xs:int" />
      <xs:element minOccurs="0" name="OTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Parameterdatei" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StandortKz" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GruSysAPiJobl" nillable="true" type="tns:GruSysAPiJobl" />
  <xs:complexType name="ArrayOfGruSysAPiJobSt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GruSysAPiJobSt" nillable="true" type="tns:GruSysAPiJobSt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGruSysAPiJobSt" nillable="true" type="tns:ArrayOfGruSysAPiJobSt" />
  <xs:complexType name="GruSysAPiJobSt">
    <xs:sequence>
      <xs:element minOccurs="0" name="AktivKz" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Frequenz" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="JobId" type="xs:int" />
      <xs:element minOccurs="0" name="OTimeStamp" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Startdatum" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Startzeit" nillable="true" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GruSysAPiJobSt" nillable="true" type="tns:GruSysAPiJobSt" />
</xs:schema>