Services/Service References/WZNTServices/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/WZNTServices/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/WZNTServices/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/WZNTServices/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WZNTService" />
      <xsd:import schemaLocation="http://localhost/WZNTServices/Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Business.DTO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateGruArtAufEinzelnutzen_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGruArtAufEinzelnutzen" />
  </wsdl:message>
  <wsdl:message name="IService_CreateGruArtAufEinzelnutzen_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGruArtAufEinzelnutzenResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateGruArtAufEinzelnutzenList_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateGruArtAufEinzelnutzenList" />
  </wsdl:message>
  <wsdl:message name="IService_CreateGruArtAufEinzelnutzenList_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateGruArtAufEinzelnutzenListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReadGruArtAufEinzelnutzenList_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadGruArtAufEinzelnutzenList" />
  </wsdl:message>
  <wsdl:message name="IService_ReadGruArtAufEinzelnutzenList_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadGruArtAufEinzelnutzenListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ReadGruArtAufEinzelnutzen_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadGruArtAufEinzelnutzen" />
  </wsdl:message>
  <wsdl:message name="IService_ReadGruArtAufEinzelnutzen_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadGruArtAufEinzelnutzenResponse" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateGruArtAufEinzelnutzenList_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGruArtAufEinzelnutzenList" />
  </wsdl:message>
  <wsdl:message name="IService_UpdateGruArtAufEinzelnutzenList_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateGruArtAufEinzelnutzenListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteGruArtAufEinzelnutzenList_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGruArtAufEinzelnutzenList" />
  </wsdl:message>
  <wsdl:message name="IService_DeleteGruArtAufEinzelnutzenList_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteGruArtAufEinzelnutzenListResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetListGruArtAufEinSprache_InputMessage">
    <wsdl:part name="parameters" element="tns:GetListGruArtAufEinSprache" />
  </wsdl:message>
  <wsdl:message name="IService_GetListGruArtAufEinSprache_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetListGruArtAufEinSpracheResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ParsePixels_InputMessage">
    <wsdl:part name="parameters" element="tns:ParsePixels" />
  </wsdl:message>
  <wsdl:message name="IService_ParsePixels_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParsePixelsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ParseSimilarity_InputMessage">
    <wsdl:part name="parameters" element="tns:ParseSimilarity" />
  </wsdl:message>
  <wsdl:message name="IService_ParseSimilarity_OutputMessage">
    <wsdl:part name="parameters" element="tns:ParseSimilarityResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetData" message="tns:IService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataResponse" message="tns:IService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContract" message="tns:IService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContractResponse" message="tns:IService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGruArtAufEinzelnutzen">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateGruArtAufEinzelnutzen" message="tns:IService_CreateGruArtAufEinzelnutzen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateGruArtAufEinzelnutzenResponse" message="tns:IService_CreateGruArtAufEinzelnutzen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateGruArtAufEinzelnutzenList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateGruArtAufEinzelnutzenList" message="tns:IService_CreateGruArtAufEinzelnutzenList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateGruArtAufEinzelnutzenListResponse" message="tns:IService_CreateGruArtAufEinzelnutzenList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadGruArtAufEinzelnutzenList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReadGruArtAufEinzelnutzenList" message="tns:IService_ReadGruArtAufEinzelnutzenList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReadGruArtAufEinzelnutzenListResponse" message="tns:IService_ReadGruArtAufEinzelnutzenList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadGruArtAufEinzelnutzen">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ReadGruArtAufEinzelnutzen" message="tns:IService_ReadGruArtAufEinzelnutzen_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ReadGruArtAufEinzelnutzenResponse" message="tns:IService_ReadGruArtAufEinzelnutzen_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateGruArtAufEinzelnutzenList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/UpdateGruArtAufEinzelnutzenList" message="tns:IService_UpdateGruArtAufEinzelnutzenList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/UpdateGruArtAufEinzelnutzenListResponse" message="tns:IService_UpdateGruArtAufEinzelnutzenList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteGruArtAufEinzelnutzenList">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DeleteGruArtAufEinzelnutzenList" message="tns:IService_DeleteGruArtAufEinzelnutzenList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DeleteGruArtAufEinzelnutzenListResponse" message="tns:IService_DeleteGruArtAufEinzelnutzenList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetListGruArtAufEinSprache">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetListGruArtAufEinSprache" message="tns:IService_GetListGruArtAufEinSprache_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetListGruArtAufEinSpracheResponse" message="tns:IService_GetListGruArtAufEinSprache_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParsePixels">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ParsePixels" message="tns:IService_ParsePixels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ParsePixelsResponse" message="tns:IService_ParsePixels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ParseSimilarity">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ParseSimilarity" message="tns:IService_ParseSimilarity_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ParseSimilarityResponse" message="tns:IService_ParseSimilarity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGruArtAufEinzelnutzen">
      <soap:operation soapAction="http://tempuri.org/IService/CreateGruArtAufEinzelnutzen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateGruArtAufEinzelnutzenList">
      <soap:operation soapAction="http://tempuri.org/IService/CreateGruArtAufEinzelnutzenList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadGruArtAufEinzelnutzenList">
      <soap:operation soapAction="http://tempuri.org/IService/ReadGruArtAufEinzelnutzenList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadGruArtAufEinzelnutzen">
      <soap:operation soapAction="http://tempuri.org/IService/ReadGruArtAufEinzelnutzen" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateGruArtAufEinzelnutzenList">
      <soap:operation soapAction="http://tempuri.org/IService/UpdateGruArtAufEinzelnutzenList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteGruArtAufEinzelnutzenList">
      <soap:operation soapAction="http://tempuri.org/IService/DeleteGruArtAufEinzelnutzenList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetListGruArtAufEinSprache">
      <soap:operation soapAction="http://tempuri.org/IService/GetListGruArtAufEinSprache" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParsePixels">
      <soap:operation soapAction="http://tempuri.org/IService/ParsePixels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ParseSimilarity">
      <soap:operation soapAction="http://tempuri.org/IService/ParseSimilarity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost/WZNTServices/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>